<p>
  <span class="glyphicon glyphicon-user">
  <%= comment.commenter %>
</p>
 
<p>
  <span class="glyphicon glyphicon-comment">
  <span style="background: #F5F5F5">
    <%= comment.body %>
  </span>
</p>

<br />

<p>
  <span class="glyphicon glyphicon-time">
  <%= comment.created_at %>
</p>
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
</p>
