<!--
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
-->

<div id="container" class="">
  <div class="frame">
    <header>
        <h1>虎 妞 网<small>(enjoy)</small></h1>
        <p>By Dabao Sun &amp; Xiaobao Li</p>
    </header>
    <nav>
      <ul class="clearfix">
        <li class="link1"><a href="" title="See what You love"><strong>电影</strong> <span>Enjoy</span></a></li>
        <li class="link2"><a href="" title="Talk what You want"><strong>Blog</strong> <span>Share</span></a></li>
        <li class="link3"><a href="" title="Taste what You listen"><strong>音乐</strong> <span>Taste</span></a></li>
      </ul>
    </nav>
  </div>
</div>
