<div class="row">
  <header style="padding-top: 1em">
      <h1>虎 妞 网<small>(enjoy)</small></h1>
      <p>By Dabao Sun &amp; Xiaobao Li</p>
  </header>
</div>
  <div class="row" style="padding-top: 4em">
    <div class="col-md-4 link1">
      <a href="articles/" title="See what You love"><strong>博客</strong> <span>Enjoy</span></a>
    </div>
    <div class="col-md-4 link2">
      <a href="articles/" title="Talk what You want"><strong>Blog</strong> <span>Share</span></a>
    </div>
    <div class="col-md-4 link3">
      <a href="" title="Taste what You listen"><strong>音乐</strong> <span>Taste</span></a>
    </div>
  </div>
