<% if session[:user_id] != nil && session[:user_id] < 3 %>
  <%= link_to "Add Picture", new_picture_path, class: "btn btn-default btn-lg" %>
<% end %>

<% @pictures.in_groups_of(4) do |group| %>
  <div style="word-break:break-all;" class="row">
    <% group.compact.each do |picture| %>
      <div class="col-md-3">
        <% picture.picture_url =~ /data/ %>
        <%= link_to (image_tag $', :width => '100%'), picture if picture.picture?%>
        <h4><%= link_to picture.name, picture %></h4>
        <div>
        <% picture.picture_url(:thumb) =~ /data/ %>
        <%= $' %>
      </div>
      </div>
    <% end %>
  </div>
<% end %>

