<h1>About us</h1>

<%= markdown("
Something I want to say.

Gem | Description
--- | ---
[Redcarpet](https://github.com/vmg/redcarpet) | 用来支持Markdown语法
[pygments.rb](https://github.com/tmm1/pygments.rb) | 用来支持语法高亮
[will_paginate](https://github.com/mislav/will_paginate) | 用来分页
[ActsAsTaggableOn](https://github.com/mbleigh/acts-as-taggable-on) | 用来对文章分类, 加tag
[CarrierWave](https://github.com/carrierwaveuploader/carrierwave), [railscast](http://railscasts.com/episodes/253-carrierwave-file-uploads?view=asciicast) | 用来上传图片, 调整图片大小
[FriendlyId](https://github.com/norman/friendly_id) | 用来生成友好的URL,借助Stringex将中文URL翻译为英文URL. \"If you're adding FriendlyId to an existing app and need to generate slugs for existing users, do this from the console, runner, or add a Rake task:\" `Article.find_each(&:save)`
[Simple Form](https://github.com/plataformatec/simple_form) | 用来简化和美化form表单
[Mailboxer](https://github.com/mailboxer/mailboxer) | 用来支持站内短消息
[Sunspot](https://github.com/sunspot/sunspot) | 用来实现full-text搜索和facets
[Stringex](https://github.com/rsl/stringex) | 用来将中文翻译为中文
[pry](https://github.com/pry/pry) | 用来支持开发环境的调试
[rspec](https://github.com/rspec/rspec) | 用来支持开发环境的继承测试
[spring](https://github.com/rails/spring) | 用来在测试环境下启动一个后台服务器,减少测试环境启动时间 rails application preloader
[spork](https://github.com/sporkrb/spork) | 同上,和spring一样的作用
[guard](https://github.com/guard/guard) | 用来在代码或者测试用例发生变化时,自动执行测试用例
[capybara](https://github.com/jnicklas/capybara) | 用来模拟网页访问
[metric_fu](https://github.com/metricfu/metric_fu) | 用来给出代码质量报告
[google-analytics-rails](https://github.com/bgarret/google-analytics-rails) | 用来支持Google Analynist
[Impressionist](https://github.com/charlotte-ruby/impressionist) | 用来记录网站访问次数和帖子浏览次数

***

**Update History:**

20150529
  * Disable comments for anonymous people

20150522
  * Update README
  * Change background color

20150423
  * Format the notification message with markdown

20150409
  * Add share button in articles show

20150318
  * Fix articles edit and new bugs (Thank you so much to the guy, I think you are daniel?)
  * Add the contact info

20150312
  * Fix picture permission

20150310
  * Add anonymous comment function

20140113
  * Reduce the quota usage by force clean build
  * Update article list title 'DABAO SUN'

20141217
  * Add love picture
  * Add google-analytics-rails
  * Fix user list bug
  * Add impressionist to display the page view visit counter

20141213
  * Add metric_fu code metric

20141210
  * Due to the openshift Apache not support the chinese url decode, translate the url to English with Stringex

20141209
  * Add time string to article page
  * Add articles category list
  * Tweek the logo style

20141207
  * Implement full-text search
  * List the month category

20141205
  * Fix picture storage
  * Fix Sign In redirect

20141204
  * Fix picture URL overlap
    ```javascript
    style=\"word-break:break-all;\"
    ```

  * Fix encoding bug with `# encoding: utf-8`
  * Add the [Mailboxer]() gem to implement comment notification
  * Change Sign In and Sign Up form style

20141202
  * Add the [FriendlyId](http://railscasts.com/episodes/314-pretty-urls-with-friendlyid?view=asciicast) gem to format the human URL
  * Format the picture form style with bootstrap
  * Use CarrierWave to resize the picture size
  * Add Simple_Form gem

20141201
  * Add the Pictures Upload function

20141129
  * Highlight Sticky Post with bootstrap style

20141128
  * Add the Sticky Post function

20141127
  * Use bootstrap form style in articles form

20141105
  * Format Date and Time without the time zone

20141104
  * Change the UTC time zone to Beijing time zone

20141103
  * Migrate database from mysql to postgresql
  * Comment out the mysql database to use postgresql
  * Fix RAILS_DB env, can not be set by rhc env set

20141017
  * Update 10 articles per page to 15 articles per page
  * Update Tags '|' from right to left
  * Remove the 'edit' and 'delete' button from index page
  * Remove the right side 'tags_cloud' list
  * Split the index page to two blog pages

20141016
  * Add picture upload function

20141015
  * Override bootstrap th td padding to 5px for article markdown table
  * Redirct the user back to the previous page after sign in
  * Highlight the error message with red color
  * Add *about* page to log the update history
  * Add tag function for articles classification

20141014
  * Add paginate function
  * Order the article by desc
  * Add Glyph icons (字形图标) in the page

20141013
  * Add Bootstrap automatically adapts pages for various screen sizes.
  * Modify the home page to use bootstrap to adapts pages for various screen sizes.
  * Change the highlight lib from CodeRay to pygments to fix the code block overflow

") %>
