// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#error_explanation {
    color: red;
}

#flash_notice {
    color: red;
}

body div#container div#content p.title_article{
  text-align: center;
  font-size: 2em;
  color: black;
}

body div#container div#content p{
  text-align: left;
}

body div#container div#content form.edit_article p input#article_title{
  width: 80%;
}
body div#container div#content form p textarea#article_text{
  width: 100%;
}

body div#container div#content div#mainCol table.CodeRay{
  width: 100%;
  font-size: 150%;
  background: none repeat scroll 0% 0% #F0F0F0;
  text-align: left;
}
body div#container div#content div#mainCol p code{
  font-size: 130%;
}
