// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ==========================================================================
   Defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #4c4c4c;
}
html{
	background-color: #f4f4f4;
}
html.home{
	background-image: image-url('glow.png');
	background-position: 50% -750px;
	background-repeat: no-repeat;
}
body {
    font-size: 1em;
    line-height: 1.4;
    /*font-family: "OpenSansRegular","lucida grande",Arial;*/
	font-family: "BitterRegular", Georgia, serif;
	color: #808080;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
h1, h2 {
	font-family: "NovecentowideBookBold",Arial,sans-serif;
	margin-top: 0;
	color: #4d4d4d;
}
h2 {
	font-size: 1.667em;
}
nav ul {
	padding: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* ==========================================================================
   Index
   ========================================================================== */

.index .frame {
	padding: 0 20px;
}
.index #container {
	text-align: center;
	position: relative;
}
.index header:before {
	content: "";
	display: block;
	background: image-url('logo.svg') no-repeat;
	width: 100px;
	height: 106px;
	margin: 1.2em auto -3em auto;
}
	
.index h1 {
	font-size: 6.5em;
	letter-spacing: -8px;
	position: relative;
	margin-top: 0.6em;
	margin-bottom: 0;
	display: inline-block;
}
.index h1 small {
	font-family: "BloklettersPotlood";
	font-size: 0.15em;
	letter-spacing: normal;
	position: absolute;
	top: 0;
	right: -30px;
	color: #9b9b9b;
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-o-transform:rotate(5deg);
	-ms-transform:rotate(5deg);
}
.index header p {
	font-size: 1.412em;
	text-transform: uppercase;
	margin: -0.2em auto 2em;
	color: #999;
	font-family: "BitterBold",Georgia,serif; 
}

/* ===============
    Nav
   =============== */

.index nav {
	margin-bottom: 6em;
}
.index nav li {
	width: 33.161068044789%;
	float: left;
	padding-bottom: 8px;
	list-style: none;
}
.index nav li:hover {
	background: image-url('shadow_sm.png') no-repeat 50% 100%;
}
.index nav li.link2 {
	margin: 0 0.258397932817%;
}
.index nav a strong:before {
	content: "";
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-bottom: 0.3em;
}
.index nav .link1 a strong:before {
	background-image: image-url('icon_work.svg');
}
.index nav .link1 a:hover strong:before {
	background-image: image-url('icon_work_white.svg');
}
.index nav .link2 a strong:before {
	background-image: image-url('icon_blog.svg');
}
.index nav .link2 a:hover strong:before {
	background-image: image-url('icon_blog_white.svg');
}
.index nav .link3 a strong:before {
	background-image: image-url('icon_about.svg');
}
.index nav .link3 a:hover strong:before {
	background-image: image-url('icon_about_white.svg');
}

.index nav a strong {
	display: block;
	font-family: "NovecentowideBookBold",Arial,sans-serif;
	margin-bottom: 0.3em;
	color: #4d4d4d;
	font-size: 1.765em;
	font-weight: normal;
}
.index nav a {
	display: block;
	padding: 2em 9% 1.4em;
	background: #fff;
	color: #9b9b9b;
	height: 10em;
}
.index nav a:hover {
	text-decoration: none;
	color: #fff;
}
.index nav a:hover strong {
	color: #fff;
}
.index nav .link1 a:hover {
	background-color: #64c0d1;
}
.index nav .link2 a:hover {
	background-color: #6dce9a;
}
.index nav .link3 a:hover {
	background-color: #c27dae;
}

.index #container{
	padding-top: 0;
}

/* ===============
    Transitions
   =============== */

/* start */
.csstransitions.js.csstransforms .index.preload nav li {
	opacity: 0;
	transform: translateY(30px);
	-moz-transform: translateY(30px);
	-webkit-transform: translateY(30px);
	-o-transform: translateY(30px);
}
/* stop */
.csstransitions.js.csstransforms .index nav li {
	opacity: 1;
	transform: translateY(0px);
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-o-transform: translateY(0px);
}
.csstransitions.js.csstransforms .index nav li.link1 {
    -webkit-transition: all 500ms ease-out 1250ms;
    -moz-transition: all 500ms ease-out 1250ms;
    -o-transition: all 500ms ease-out 1250ms;
    -ms-transition: all 500ms ease-out 1250ms;
    transition: all 500ms ease-out 1250ms;
}
.csstransitions.js.csstransforms .index nav li.link2 {
    -webkit-transition: all 500ms ease-out 1500ms;
    -moz-transition: all 500ms ease-out 1500ms;
    -o-transition: all 500ms ease-out 1500ms;
    -ms-transition: all 500ms ease-out 1500ms;
    transition: all 500ms ease-out 1500ms;
}
.csstransitions.js.csstransforms .index nav li.link3 {
    -webkit-transition: all 500ms ease-out 1750ms;
    -moz-transition: all 500ms ease-out 1750ms;
    -o-transition: all 500ms ease-out 1750ms;
    -ms-transition: all 500ms ease-out 1750ms;
    transition: all 500ms ease-out 1750ms;
}


/* nav hover */
.csstransitions.js.csstransforms .index nav a {
    -webkit-transition: background-color 100ms ease-out;
    -moz-transition: background-color 100ms ease-out;
    -o-transition: background-color 100ms ease-out;
    -ms-transition: background-color 100ms ease-out;
    transition: background-color 100ms ease-out;
}

/* start */
.csstransitions.js.csstransforms .index.preload footer.light p {
	opacity: 0;
	transform: rotate(-10deg) translate(10px,10px);
	-moz-transform: rotate(-10deg) translate(10px,10px);
	-webkit-transform: rotate(-10deg) translate(10px,10px);
	-o-transform: rotate(-10deg) translate(10px,10px);
}
/* stop */
.csstransitions.js.csstransforms .index footer.light p {
	opacity: 1;
	transform: rotate(0deg) translate(0px,0px);
	-moz-transform: rotate(0deg) translate(0px,0px);
	-webkit-transform: rotate(0deg) translate(0px,0px);
	-o-transform: rotate(0deg) translate(0px,0px);

    -webkit-transition: all 750ms ease-out 2250ms;
    -moz-transition: all 750ms ease-out 2250ms;
    -o-transition: all 750ms ease-out 2250ms;
    -ms-transition: all 750ms ease-out 2250ms;
    transition: all 750ms ease-out 2250ms;
}

/* start */
.csstransitions.js.csstransforms .index.preload footer.light ul {
	opacity: 0;
}
/* stop */
.csstransitions.js.csstransforms .index footer.light ul {
	opacity: 1;

    -webkit-transition: opacity 750ms ease-out 2250ms;
    -moz-transition: opacity 750ms ease-out 2250ms;
    -o-transition: opacity 750ms ease-out 2250ms;
    -ms-transition: opacity 750ms ease-out 2250ms;
    transition: opacity 750ms ease-out 2250ms;
}

/* start */
.csstransitions.js.csstransforms .index.preload header {
	opacity: 0;
	transform: scale(0.9);
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-o-transform: scale(0.9);
}
/* stop */
.csstransitions.js.csstransforms .index header {
	opacity: 1;
	transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);

    -webkit-transition: all 1000ms ease-out 250ms;
    -moz-transition: all 1000ms ease-out 250ms;
    -o-transition: all 1000ms ease-out 250ms;
    -ms-transition: all 1000ms ease-out 250ms;
    transition: all 1000ms ease-out 250ms;
}

/* stop transitions after load */

.csstransitions.js.csstransforms .index.loaded nav li.link3,
.csstransitions.js.csstransforms .index.loaded nav li.link2,
.csstransitions.js.csstransforms .index.loaded nav li.link1,
.csstransitions.js.csstransforms .index.loaded footer.light p,
.csstransitions.js.csstransforms .index.loaded header {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none; 
}


/* ==========================================================================
   Error
   ========================================================================== */
   
.error404 section {
	text-align: center;
	min-height: 400px;
}
.error404 section h1 {
	font-size: 7em;
	letter-spacing: -8px;
	position: relative;
	margin-top: 0.55em;
	margin-bottom: -0.3em;
	display: inline-block;
}
.error404 section p {
	color: #9b9b9b;
	margin: 2em auto;
}
.error404 #container {
	height: 100%;
}

/* ==========================================================================
   Global
   ========================================================================== */

.frame {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 60px;
}
#container{
	position: relative;
	padding-top: 158px;
	min-width: 768px;    
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1280px) {

	.slides, .slides .slide {
		height: 500px;
	}
	/* About */
	.tasks li {
		width: 50%;
		border-right: none;
		padding-left: 8.2%;
	}
	.tasks .odd {
		border-right: 1px solid #e6e6e6;
	}
	.tasks .task5, .tasks .task6 {
		border-bottom: 1px solid #e6e6e6;
	}
	.tasks .task7, .tasks .task8 {
		border-bottom: none;
	}
	
	/* tighter spacing */
	
	.project .details {
		margin-bottom: 1em;
	}
	.project header {
		margin-bottom: 2em;
	}
	.slides {
		margin-bottom: 4em;
	}
	
	/* Blog */
	
	.blogInner .colA, .blogInner .colF {
		float: none;
		margin-right: 0;
		width: auto;
	}
	.blogInner .colF {
		width: 49%;
	}
	
	
}

@media only screen and (max-width: 1152px) {

	.index nav a {
		height: 10.5em;
	}
	.slides, .slides .slide {
		height: 435px;
	}
	.project dt {
	    width: 13%;
	}
	.project dd {
	    width: 87%;
	}
}

@media only screen and (max-width: 1024px) {

	/* Homepage */
	
	.index header:before {
		margin-top: 2.5em;		
		width: 81px;
		height: 87px;
		background-size: 100%;
	}
	.index h1 {
		font-size: 5.5em;
		letter-spacing: -7px;
		margin-top: 0.5em;
	}
	.index header p {
		margin-bottom: 1.2em;
	}
	.index nav a {
		padding: 1.5em 13% 1em;
	}
	.index nav {
		margin-bottom: 4em;
	}
	.index nav a strong {
		font-size: 1.5em;
	}
	
	.slides, .slides .slide {
		height: 390px;
	}
	
	/* bio */
	
	.tasks li{	
		padding-left: 9.7%;
	}
	
	/* Blog */
	
	.blog.home article, .archive.home article, .blogInner .colF {
		width: 50%;
	}	
	.pin:nth-child(3n+1) {
		clear: none;
	}
	.pin:nth-child(2n+1) {
		clear: both;
	}
	
}
@media only screen and (max-width: 900px) {

	footer.light {
		width: 40%;
	}
	footer.global {
		text-align: center;
		padding: 1.5em 0;
	}
	footer.global nav ul, footer.global ul.ext {
		float: none;
	}
	footer.global nav {
		margin-bottom: 2em;
	}
	footer.global nav li, footer.global ul.ext li {
		display: inline-block;
		float: none;
	}
	footer.global nav ul li.link3 {
		margin-right: 0;
	}
	footer.global ul.ext li.link1 {
		margin-left: 0;
	}
	footer.global nav ul, footer.global ul.ext {
		width: 100%;
	}
	/* bio */
	
	.tasks li {
		padding-top: 4%;
		padding-bottom: 4%;		
	}
	
		
}

@media only screen and (max-width: 768px) {

	.project header .reveal {
		right: 40px;
	}
	.project h1 {
		font-size: 1.5em;
	}
    .frame {
    	padding: 0 40px;
    }
    
    /* Home */
	
	.index header:before {
		margin: 2.2em auto -3em;
	}
	.index h1 {
		font-size: 4.6em;
		margin-top: 0.7em;
	}
	.index header p {
		margin-bottom: 0.8em;
	}
	.index nav a strong:before {
		width: 40px;
		height: 48px;
		background-size: 100%;
	}
	.index nav {
		margin: 0 5% 3.5em 5%;
	}
	.index nav a{
		padding: 1.4em 9% 1.6em 9%;
		height: auto;
	}
	.index nav li, .index nav li.link2 {
		width: 100%;
		float: none;
		margin: 0 0 0.2em 0;
	}
	.index nav li.link2 {
		margin-left: 0;
		margin-right: 0;
	}

    /* Portfolio */
    
	.slides, .slides .slide {
		height: 300px;
	}
	.smimage.odd {
		float: none;
	}
	.smimage {
		float: none;
		width: auto;
		margin-left: auto;
		margin-right: auto;
		box-sizing:border-box;
		-moz-box-sizing:border-box;		
	}
	
	/* About */
	
	.bio .intro h1 {
		font-size: 4em;
	}
	.bio header .intro {
		padding-bottom: 70px;
	}
	/*
	.clients h2, .employers h2, .tasks h2 {
		font-size: 1em;		
	}
	*/
	.clients, .employers {
		float: none;
		margin-right: 0;
		width: auto;
	}
	.employers {
		clear: both;
	}
	.tasks li{	
		padding-left: 10.5%;
	}
	
	/* blog */
	
	.longText  {
		line-height: 1.4em;
	}
	.longText p:first-child  {
		font-size: 1.25em;
	}
	.single article h1 {
		font-size: 2.2em;
		line-height: 1.53em;
	}
	
}

/* iPhone, iPhone 5 */

@media only screen and (max-width: 480px),
(-webkit-min-device-pixel-ratio: 2) and (device-height: 568px) {

	#container{
		min-width: 320px;    
	}

	/* index */
	
	.index .frame {
		padding: 0 10px;
	}
	.index header:before {
	    height: 60px;
	    margin: 1.2em auto -2em;
	    width: 56px;
	}	
	.index h1 {
	    font-size: 1.9em;
	    line-height: 1em;
	    letter-spacing: -2px;
	    margin-top: 1.4em;
	}	
	.index header p {
	    font-size: 0.9em;
	    margin: 0.6em auto 1.5em auto;
	}
	.index nav li {
	}
	.index nav {
	    margin: 0 0 3em;
	}
	.index nav a {
		font-size: 0.9em;
		padding: 1em 5% 1em;
	}
	.index nav a strong:before{
		height: 31px;
		width: 27px;
	}	
	.index nav a strong {
		display: block;
		line-height: 34px;
	}
	.index nav a span {
		clear: both;
		display: block;
	}	
	footer.light {
	    width: 93%;
	}	
	footer.light p {
	    left: 4.3em;
	}
	footer.light li a {
		font-size: 0.9em;
		padding-top: 3em;
	}
	.index h1 small {
	    font-size: 0.4em;
	    right: 0;
	    top: -30px;
	}	
	
	/* Internal Page nav */
		
	.frame {
	    padding: 0 15px;
	}
	#container, .bio header.intro {
		padding-top: 84px;
	}
	#container.navOpen, .bio .navOpen header.intro {
		padding-top: 256px;
	}
	.bio .navOpen header.top nav.mobile li a {
		color: #4d4d4d;
	}
	.bio .navOpen header.top nav.mobile li.selected a, .bio .navOpen header.top nav.mobile li a:hover {
		color: #fff;
	}
	header.top {
		padding-top: 1em;
	}
	header.top nav.full {
		display: none;
	}
	header.top nav.mobile {
		display: block;
		position: relative;
		padding: 57px 0 0 0;
		z-index: 1;
	}
	nav.mobile .menuToggle {
		display: block;
		height: 52px;
		width: 52px;
		position: absolute;
		padding: 0;
		top: 0px;
		right: 0px;
		border-radius: 2px;
		background-color: #fff;
		background-image: url(../img/icon_menu_mobile.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	header.top nav.mobile ul {
		margin: 0 0 2em 0;
		display: none;
	}
	.navOpen header.top nav.mobile ul {
		display: block;
	}
	.navOpen nav.mobile .menuToggle {
		background-image: url(../img/icon_menu_mobile_white.svg);
	}
	.portfolio .navOpen .menuToggle {
		background-color: #64c0d1;
	}
	.bio .navOpen .menuToggle {
		background-color: #c27dae;
	}
	.blog .navOpen .menuToggle {
		background-color: #6dce9a;
	}
	
	.bio #container.navOpen {
    	padding-top: 0;
	}

	header.top nav.mobile li {
		margin: 0 0 5px 0;
	}
	header.top nav.mobile a {
		height: 52px;
		line-height: 52px;
		background-color: #fff;
	}
	header.top nav.mobile li a {
		padding-left: 60px;
	}
	header.top h2 {
		background-position: 12px 50%;
		background-size: 33px;	    
	    height: 52px;
	    line-height: 52px;
	    padding-left: 61px;
	    font-size: 1em;
	    position: relative;
	    z-index: 5;
	}	
	
	/* footer */
	footer.global .mobile {
		display: block;
	}
	footer.global .full {
		display: none;
	}
	
	
	/* Portfolio */
	
	.project header h1 {
		padding: 0;
	}
	.project header .toggle {
	    border-top: 1px solid #E6E6E6;
	    display: block;
	    margin: 14px -15px 0 -15px;
	    padding-top: 11px;
	    padding-bottom: 11px;
	    position: relative;
	    padding-left: 44px;
	}
	.project header .toggle.show, .project header .toggle.hide {
	    background-position: 15px 20px;
	}
	.project header {
	    padding: 15px 0 0 0;
	}	
	.project .credits {
	    margin: 0 -15px;
	}
	.project dl {
	    margin: 0;
	}
	.project dt {
	   background-color: #fafafa;
	}
	.project dt, .project dd, .project dt.even, .project dd.even  {
	    width: auto;
	    float: none;
	    padding: 1em 15px;
	}
	.slides, .slides .slide {
    	height: 240px;
	}
	.project h1 {
	    font-size: 1.3em;
	}
	
	/* Bio */
	
	.bio .intro h1 {
		font-size: 3.5em;
		line-height: 1.3em;
	}
	.bio .intro p {
	    line-height: 1.5em;
	}	
	.bio header.intro {
		padding-bottom: 60px;
	}
	.bio .topLevel {
		padding-top: 50px;
	}
	.bio h2 {
		font-size: 2em;
	}
	.clients, .employers{
		margin-bottom: 3em;
	}
	.employers li {
		padding: 1.5em;
	}
	.tasks ul {
		margin: 0;
	}
	.tasks li, .tasks li.odd {
	    border-right: none;
	    float: none;
	    width: auto;
	    padding-left: 70px;
	}
	.tasks .task7, .tasks .task8 {
		border-bottom: 1px solid #E6E6E6;
	}	
	
	/* blog */
	
	article h1, .single article h1 {
		line-height: 1.2em;
	}
	.single article h1 {
		font-size: 1.6em;
		letter-spacing: -1px;
		margin-bottom: 0em;
		line-height: 1.57em;
	}
	.single article .headerwrap h1 {
		background: none repeat scroll 0 0 #4d4d4d;
	    box-shadow: 10px 0 0 #4d4d4d, -10px 0 0 #4d4d4d;
	}	
	.single article .fb-like.full{
		display: none;
	}
	.single article {
		padding: 20px 0;
	}
	.blogPost .frame, #disqus_thread {
		padding: 0 20px;
	}	
	.longText h3 {
		font-size: 1.5em;
	}
	.pinlist {
		margin: 0;
	}
	.blog.home article, .archive.home article, .blogInner .colF {
		width: 100%;
	}	
	.blog article, .archive article {
		width: 100%;
		float: none;
	}
	.pin .articleWrap {
	    margin-left: 0;
	    margin-right: 0;
	}	
	header.featuredimg {
		margin-top: -20px;
		margin-bottom: 30px;
	}
	header .imgcover {
		min-height: 200px;
		padding: 30px 20px;
	}
		
	.single .nav-below {
		padding-bottom: 0px;
	}
	.nav-below .alignWrap, .alignright, .alignleft {
		display: block;
		width: 100%;
	}
	.alignright {
		border-left: none;
	}
	.alignleft {
		border-right: none;
		border-bottom: 2px solid #f4f4f4;
	}		
	.single .alignleft {
		border-bottom: 2px solid #fff;
	}
}

@media only screen and (max-width: 320px) {
	footer.light p {
	    left: 2.5em;
	}
	.slideNav {
		display: none;
	}
	.slides, .slides .slide {
    	height: 129px;
	}
	
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

