<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>虎 妞 网</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron/jumbotron.css">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style>
    body {
      background-color: #f4f4f4;
    }

    h1, h2 {
      font-family: "NovecentowideBookBold",Arial,sans-serif;
      font-weight: bold;
      line-height: 1.4;
      margin-top: 0;
      color: #4d4d4d;
    }
    h2 {
      font-size: 1.667em;
    }

    .container {
      text-align: center;
      position: relative;
    }
    .index header:before {
      content: "";
      display: block;
      background: url('assets/logo.svg') no-repeat;
      width: 100px;
      height: 106px;
      margin: 1.2em auto -2em auto;
    }

    .index h1 {
      font-size: 6.5em;
      position: relative;
      margin-top: 0.6em;
      margin-bottom: 0;
      display: inline-block;
    }

    .index h1 small {
      font-family: "BloklettersPotlood";
      font-size: 0.15em;
      letter-spacing: normal;
      position: absolute;
      top: 0;
      right: -30px;
      color: #9b9b9b;
      -webkit-transform:rotate(5deg);
      -moz-transform:rotate(5deg);
      -o-transform:rotate(5deg);
      -ms-transform:rotate(5deg);
    }

    .index header p {
      font-size: 1.412em;
      text-transform: uppercase;
      margin: -0.2em auto 2em;
      color: #999;
      font-family: "BitterBold",Georgia,serif;
    }

    .index a strong:before{
      content: "";
      display: block;
      width: 60px;
      height: 60px;
      margin: 0 auto;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      margin-bottom: 0.3em;
    }
    .index .link1 a strong:before {
      background-image: url('assets/icon_work.svg');
    }
    .index .link1 a:hover strong:before {
      background-image: url('assets/icon_work_white.svg');
    }
    .index .link2 a strong:before {
      background-image: url('assets/icon_blog.svg');
    }
    .index .link2 a:hover strong:before {
      background-image: url('assets/icon_blog_white.svg');
    }
    .index .link3 a strong:before {
      background-image: url('assets/icon_about.svg');
    }
    .index .link3 a:hover strong:before {
      background-image: url('assets/icon_about_white.svg');
    }

    .index .row a strong {
      display: block;
      font-family: "NovecentowideBookBold",Arial,sans-serif;
      margin-bottom: 0.3em;
      color: #4d4d4d;
      font-size: 1.765em;
      font-weight: normal;
    }
    .index .row a {
      display: block;
      padding: 2em 9% 1.4em;
      background: #fff;
      color: #9b9b9b;
      height: 14em;
    }
    .index .row a:hover {
      text-decoration: none;
      color: #fff;
    }
    .index .row a:hover strong {
      color: #fff;
    }
    .index .row .link1 a:hover {
      background-color: #64c0d1;
    }
    .index .row .link2 a:hover {
      background-color: #6dce9a;
    }
    .index .row .link3 a:hover {
      background-color: #c27dae;
    }

  </style>
</head>
<body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
<!--    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
-->

    <div class="container index">

        <%= yield %>

    </div> <!-- /container -->


  <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
